@include Xl {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

@include Lg {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

@include Md {
  main {
    align-items: center;
    text-align: center;
  }

  ul.menu-nav,
  div.menu-photo {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(0, 100%, 0);
  }

  .menu-photo {
    height: 25vh;
    transform: translate3d(0, -100%, 0);

    .portrait {
      width: 200px;
      height: 200px;
    }
  }

  .about-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "titleskills"
      "skill1"
      "skill2"
      "skill3"
      "skill4"
      "skill5";
    grid-template-columns: 1fr;
  }

  .skills {
    margin: auto;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }

  .boxes {
    display: grid;
    grid-gap: 10vh;
    grid-template-areas:
      "personal"
      "social"
      "myworks";

    grid-template-columns: 1fr;
  }

  .personal {
    grid-area: personal;
  }

  .social {
    grid-area: social;

    ul {
      justify-content: center;
    }
  }

  .myworks {
    grid-area: myworks;
  }
}

@include Sm {
  main#home h1 {
    margin-top: 10vh;
  }

  .projects {
    grid-template-columns: 1fr;

    .item {
      width: 100%;
    }
  }
}
